{% extends 'base.html' %}
{% load static %}
{% block resume_active %}active {% endblock resume_active %}
{% block title %}Resume{% endblock title %}

{% block content %}
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <img class="d" src="/static/img/d.png" alt="">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Devendra Lodhi</h4>
                    <p><em>Innovative and Web Designer with 3+ years of experience designing and developing
                            user-centered digital/print marketing material from initial concept to final, polished
                            deliverable.</em></p>
                    <ul>
                        <li>New Colony Maksi Dist. Shajapur 465106</li>
                        <li>+91 9589 830 230</li>
                        <li>devendralodhi192@gmail.com</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor Technology in Computer Science Engineering </h4>
                    <h5>2020 - 2024</h5>
                    <p><em>Rajiv Gandhi Proudyogiki Vishwavidyalaya, Bhopal</em></p>
                    <p>Shri Guru Sandipani Institute of Technology & Science Ujjain</p>
                    <p>CGPA : 7.45</p>
                </div>
                <div class="resume-item">
                    <h4>Higher Secondary Education 12 <sup>th</sup></h4>
                    <h5>2020</h5>
                    <p><em>Board of Sacondary Education, Bhopal, (MP)</em></p>
                    <p>Percentage : 62.4%</p>
                </div>
                <div class="resume-item">
                    <h4>High Secondary Education 10 <sup>th</sup></h4>
                    <h5>2018</h5>
                    <p><em>Board of Sacondary Education, Bhopal, (MP)</em></p>
                    <p>Percentage : 77.6%</p>
                </div>
                <h3 class="resume-title">CERTIFICATIONS</h3>
                <div class="resume-item">
                    <ul>
                        <li>C\C++ Certified By JobSense Ujjain &nbsp;&nbsp; - &nbsp; 2022</li>
                        <li>Python Django Certified By JobSense Ujjain &nbsp;&nbsp;- &nbsp; 2022</li>
                        <li>Full Stack Web Development Certified By JobSense Ujjain&nbsp;&nbsp;- &nbsp; 2023</li>
                    </ul>
                </div>
                <a class="btn btn-primary text-light" href="{% static 'files/devendra_resume.pdf' %}" download style="margin: 50px 150px;">Download CV</a>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Web Developer</h4>
                    <h5>2023</h5>
                    <p><em>Job Sanse , Ujjain <br>  Training Completion: 6 Months</em></p>
                    <ul>
                        <li>Acquired hands-on experience in Python and the Django framework.</li>
                        <li>Developed and maintained web applications using Django.</li>
                        <li>Gained proficiency in Python programming and its applications in web development.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Python Developer </h4>
                    <h5>At </h5><br>
                    <h5>2022 - Present</h5>
                    <p><em>Geek Theory ,Ujjain</em></p>
                    <ul>
                        <li>Developed and maintained Python scripts for automation tasks.</li>
                        <li>Developed and implemented Python code functionalities for various internal projects, contributing to improved efficiency. Utilized libraries to achieve specific tasks.</li>
                        <li>Automated browser tasks and web scraping projects using Python scripts.</li>
                    </ul>
                </div>
                <h3 class="resume-title">Projects</h3>
                <div class="resume-item">
                    <h4>Project 1: Crime Report </h4>
                    <p><strong>Role:</strong> Developer</p>
                    <p><strong>Environment:</strong> Python, Django, HTML, CSS, JavaScript,
                        Bootstrap</p>
                    <p><strong>Description:</strong></p>
                    <p>Created a software tool for sending bulk emails
                        efficiently.Enables the sending of emails from multiple accounts within a single application.</p>
                </div>
                <div class="resume-item">
                    <h4>Project 2: Bulk Mail Sender </h4>
                    <p><strong>Role:</strong> Developer</p>
                    <p><strong>Description:</strong></p>
                    <p>Developed a web application that allows users to file
                        an F.I.R. (First Information Report) anonymously,
                        which is then forwarded to the appropriate police
                        station.
                    </p>
                </div>
                <h3 class="resume-title">PROGRAMMING SKILLS</h3>
                <div class="resume-item">
                    <ul>
                        <li><strong>Front– End Technologies :</strong> HTML5, CSS3, JS, Bootstrap.</li>
                        <li><strong>Language known :</strong> Python (Django), C, C++.</li>
                        <li><strong>Database :</strong> MySQL, Sqlite3, MongoDB.</li>
                        <li><strong>Framework :</strong>Robot, Selinium,Scrapy.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
{% endblock content %}